body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font-size;
	line-height: $font__line-height-body;
}

address {
  font-family: $caption-font;
}

a {
  color: $color__link;
  &:hover, &:active {
    color: $color__link--active;
  }
  &:visited {
    color: $color__link;
  }
}

.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}

.u-smalltext {
  font-size: .7em;
}

.u-label-font {
  font-family: $caption-font !important;
}

.u-caption {
  font-family: $caption-font;
  text-align: right;
}

.u-extra-v-margin {
  margin: 2rem 0;
}

.u-titlecase {
  text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font;
  font-weight: normal;
}

.h1 {
  div.page-header & {
    font-family: $caption-font;
  }
}

.h1 {
  font-size: 1.728rem;
}

.h2 {
  font-size: 1.44rem;
}

.h3 {
  font-size: 1.2rem;
}

.h4 {
  font-size: 1rem;
}

.h5 {
  font-size: .833rem;
}

.h6 {
  font-size: 694rem;
}
